
@font-face {
  font-family: 'GillSansW01-Medium';
  src: url('http://www.thetimes.co.uk/fonts/GillSansW01-Medium.eot?iefix') format('eot'),
       url('http://www.thetimes.co.uk/fonts/GillSansW01-Medium.woff') format('woff'),
       url('http://www.thetimes.co.uk/fonts/GillSansW01-Medium.woff2') format('woff2'),
       url('http://www.thetimes.co.uk/fonts/GillSansW01-Medium.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
